{% extends 'base.html' %}

{% block title %} Home | SAIL Year Book Portal {% endblock %}

{% block content %}
{% load static %}
<div class="container-fluid">
	<div class="row mb-2">
		<div class="col-xl-6 col-lg-12">
			<div style="width :fit-content;min-width: 50%;height: fit-content;margin: auto;">
				<table class="table table-bordered">
					<thead class="thead-light" style="text-align: center;">
						<tr>
							<th scope="col"><h3>Announcements</h3></th>
						</tr>
					</thead>
					<tbody>
						{% if not announce_list %}
						<tr><td>No Announcements</td></tr>
						{% endif %}
						{% for i in announce_list %}
						<tr>
							<td>
								{{ i.content }}
								{% if i.important %}
								<img src="{% static 'img/announce.gif' %}" height="30px">
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-xl-6 col-lg-12" style="text-align: center;">
			<div style="height: fit-content;margin: auto;">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th class="bg-light" scope="col" colspan="2"><h3>Testimonials Leaderboard</h3><span style="float: right;">Last Updated : {{ last_updated }}</span>
							{% if user.is_superuser %}
							<a href="{% url 'update_leaderboard' %}">Update</a>
							<a href="{% url 'auto_mark_favs' %}">Mark Favs</a>
							{% endif %}
						</th>
					</tr>
					<tr>
						<th scope="col" style="vertical-align:middle;">User</th>
						<th scope="col">Testimonial<br>Count</th>
					</tr>
				</thead>
				<tbody>
					{% for i in lead_dict %}
					<tr>
						<td>
							<span style="float: left;">
							<a href="{{ i.0.profile_pic.url }}" style="margin-right: 50px;"><img src="{{ i.0.profile_pic.url }}" height="50px" style="border-radius: 50%;"></a>
								
							<a href="{% url 'profile' i.0.user.username %}" >{{ i.0.full_name }}</a>
							</span>
						</td>
						<td style="vertical-align:middle;">
							{{ i.1 }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>

{% endblock %}