{% extends 'base.html' %}

{% block title %} Team | SAIL Year Book Portal {% endblock %}

{% block content %}
{% load static %}

    <div class="container">
        <h1 class="text-center my-2"><b>Web-Developers</b></h1>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/team/anandh.jpg' %}" class="card-img-top" style="width: 18rem; height: 18rem;" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/in/ch-anandh/" target="_blank">Chinmai Anandh</a></h5>
                        <p class="card-text">Web-Coordinator<br>SAIL</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/team/jp.jpeg' %}" class="card-img-top" style="width: 18rem; height: 18rem;" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/in/jpreddy480/" target="_blank">Jaya Prakash</a></h5>
                        <p class="card-text">Web-Coordinator<br>SAIL</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card" style="width: 18rem">
                    <img src="{% static 'img/team/Nikitha Reddy.jpeg' %}" class="card-img-top" style="width: 18rem; height: 18rem;"  alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/in/nikitha2309/" target="_blank">Nikitha Reddy</a></h5>
                        <p class="card-text">Web-Executive<br>SAIL</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/team/Jayant Jaiswal.jpeg' %}" class="card-img-top" style="width: 18rem; height: 18rem;" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/in/jayant-jaiswal-171a16184/" target="_blank">Jayant Jaiswal</a></h5>
                        <p class="card-text">Web-Executive<br>SAIL</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/team/Vedant Chourasia.jpeg' %}" class="card-img-top" style="width: 18rem; height: 18rem;" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/in/vedant0806/" target="_blank">Vedant Chourasia</a></h5>
                        <p class="card-text">Web-Executive<br>SAIL</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/team/Pranjali Jadkar.jpeg' %}" class="card-img-top" style="width: 18rem; height: 18rem;" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/in/pranjali-j-072322197/" target="_blank">Pranjali Jadkar</a></h5>
                        <p class="card-text">Web-Executive<br>SAIL</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 my-2">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'img/team/Shrusti Jain.jpeg' %}" class="card-img-top" style="width: 18rem; height: 18rem;" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a href="https://www.linkedin.com/in/shrushti-jain-719841196/" target="_blank">Shrusti Jain</a></h5>
                        <p class="card-text">Web-Executive<br>SAIL</p>
                        <!--a href="#" class="btn btn-primary">Go somewhere</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}